body{
    background-image:hsl(188, 90%, 35%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;  
    margin: 0 auto;  
    background-color:#061829; 
    background-image:blue; 
    color:#1ea7a9;
    font-size: medium;
} 
 

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(27, 119, 27); 
    border-radius: 5px; 
    margin-top: 8px;
    background-image: linear-gradient(to right, #e4eaf1,#11ad79);
}

.logo img { 
width:22%; 
padding-top: 50px;
border-radius: 5px; 
}

.navegacao{
    overflow: hidden; 
}
.navegacao a{
    float: right; 
    padding: 0.5%;
    color: navy(171,173,173); 
    text-decoration: none; 
}
.navegacao a:hover{ 
   color:purple;
   background-color: aqua;
}

.principal{
    display:flex; /*deixou um ao lado do outro*/
    flex-direction: row;  
 }
 
 .conteudo{
     float: left;
     margin: 1% 1% 1% 1%; /*define margens em relacao ao body*/
 
     background-color: rgb(8, 72, 64);
     text-align: justify;/*deixa o texto justificado*/
     padding: 20px;/*para o texto não ficar colado no card*/
     border-radius: 3px;
     box-shadow: blue;

     
 }

.conteudo.central{
    padding: 5%;
}
 
 #tabel01{
    float: left;
    margin: 7% 0% 1% 0%;
 }
 .a01{
    float: right;
    margin: 2% 0% 1% 0%; /*define margens em relacao ao body*/

    /*background-color: rgb(204, 18, 18);*/
    text-align: justify;/*deixa o texto justificado*/
    padding: 10px;/*para o texto não ficar colado no card*/
    border-radius: 3px;
    box-shadow:10px brown;
 }
  


/*.principal{
    
    display:flex;
    flex-direction: row;
    float: left;
    margin: 15px 15px 25px 2px; 
    background-color: gainsboro;
    text-align: justify;
    padding: 15px 100px;
    border-radius: 5px;
    /*box-shadow: 10px 10px 10px rgb(114, 34, 34) ;
}*/

p{
    text-indent: 2em;
}

/*.ftestacao{
    position: relative;
    top: auto;
    display:flex; 
    flex-direction: row;
    float: left;
    padding: 15px 10px;
}
.ftestacao {
    position: relative;
    width: max-content;
    margin: auto;
    text-align: center;
}
*/
figure{
    margin: 300% 10% 20% 20%;
    float:left;
    display:flex;
    flex-direction: row;
    padding-top: 1%;
    padding-left:1%;
    position:static;
    width:min-content;
    margin: auto;
    text-align: left;
}

.hino{
    /*background-position: 10%;*/
    background-color: rgb(8, 72, 64);
    padding: 3%;
    padding-right: 5%;
    margin-top:2%;
    margin-right: 25%;
    margin-bottom: 0%;
    margin-left: 35%;
}

#audio{
    
    float: left;
    margin-left:10% ;
    width: 450%;
    height: 100%; 
}
.rodape{
    margin: 10;
    color:#1ea7a9;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width:600px){
    .principal,.conteudo.central, .sapo, #tabel01, .hino, .audio{
        width:100%;
      
        padding: 5px;
    }}